In [3]:
#EQUALITY CHECK
a=int(input("enter first numbers:"))
b=int(input("enter second numbers:"))
print(int(a==b))
#1 represent true

enter first numbers: 20
enter second numbers: 20

1

In [4]:
#GREATER OR NOT
a=int(input("A"))
b=int(input("B"))
print(int(a>b))
#0 represent false

A 25
B 35

0

In [5]:
#AGE VALIDATOR
age=int(input("enter your age:"))
print(int(age>=18))

enter your age: 19

1

In [6]:
#IN BETWEEEN RANGE(10 TO 50)
n=int(input("Enter the num:"))
print(int(n>=10 and n<=50))

Enter the num: 34

1

In [7]:
#OR LOGIC
n=int(input("enter num:"))
print(int(n<0 or n>100))

enter num: 101

1

In [9]:
#NOT ZERO
n=int(input("Enter num:"))
print(int(not n))

Enter num: 0

1

In [10]:
#COMPARISION MIX
a = int(input("Enter a: "))
b = int(input("Enter b: "))
c = int(input("Enter c: "))

print(int((a > b) and (b > c)))

Enter a:  12
Enter b:  13
Enter c:  14

0

In [11]:
#EVEN NUMBER CHECK
n = int(input("Enter number: "))
print(int(n % 2 == 0))

Enter number:  4

1

In [14]:
#LOWER BOUND CHECK
x = float(input("Enter a number: "))
print(int(x <= 0.5))

Enter a number:  -1

1

In [15]:
#NON EQUALITY TEST
a = input("Enter first character: ")
b = input("Enter second character: ")

print(int(a != b))

Enter first character:  SRI
Enter second character:  HARINI

1

In [16]:
#SQUARE AREA AND PERIMETER
side = float(input("Enter side: "))

area = side * side
perimeter = 4 * side

print("Area:", area)
print("Perimeter:", perimeter)

Enter side:  5

Area: 25.0
Perimeter: 20.0

In [17]:
#RECTANGLE SPECS
l = float(input("Enter length: "))
w = float(input("Enter width: "))

print("Area:", l * w)
print("Perimeter:", 2 * (l + w))

Enter length:  15
Enter width:  20

Area: 300.0
Perimeter: 70.0

In [18]:
#CIRCLE METRICS
r = float(input("Enter the radius: "))
pi = 3.14

print("Area:", pi * r * r)
print("Circumference:", 2 * pi * r)

Enter the radius:  5

Area: 78.5
Circumference: 31.400000000000002

In [19]:
#TRIANGLE AREA
b = float(input("Enter base: "))
h = float(input("Enter height: "))

print("Area:", 0.5 * b * h)

Enter base:  3
Enter height:  4

Area: 6.0

In [20]:
#CUBE VOLUME
side = float(input("Enter side: "))
print("Volume:", side ** 3)

Enter side:  6

Volume: 216.0

In [21]:
#CYLINDER SURFACE AREA
r = float(input("Enter radius: "))
h = float(input("Enter height: "))
pi = 3.14

print("Total Surface Area:", 2 * pi * r * (r + h))

Enter radius:  7
Enter height:  8

Total Surface Area: 659.4

In [23]:
#SPHERE VOLUME
r = float(input("Enter radius: "))
pi = 3.14

print("Volume:", (4/3) * pi * r ** 3)

Enter radius:  6

Volume: 904.3199999999999

In [24]:
#RIGHT ANGLED TRIANGLE HYPOTENUSE
import math

b = float(input("Enter base: "))
p = float(input("Enter perpendicular: "))

h = math.sqrt(b**2 + p**2)
print("Hypotenuse:", h)

Enter base:  5
Enter perpendicular:  8

Hypotenuse: 9.433981132056603

In [25]:
#HERONS FORMULA
import math

a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))

s = (a + b + c) / 2
area = math.sqrt(s * (s-a) * (s-b) * (s-c))

print("Area:", area)

Enter side a:  3
Enter side b:  4
Enter side c:  5

Area: 6.0

In [26]:
#TILING COST
length = float(input("Enter length: "))
width = float(input("Enter width: "))
cost = float(input("Enter cost per sq.ft: "))

area = length * width
total_cost = area * cost

print("Total Tiling Cost:", total_cost)

Enter length:  10
Enter width:  11
Enter cost per sq.ft:  12

Total Tiling Cost: 1320.0