In [3]:
#3*3 grid of *
for i in range(3):
    for j in range(3):
        print("*",end="")
    print()

***
***
***

In [7]:
#COORDINATE MAX
for i in range(3):
    for j in range(3):
        print(f"{i},{j}",end="")
    print()

0,00,10,2
1,01,11,2
2,02,12,2

In [11]:
#N*N SQUARE
n=int(input("enter size:"))
ch=input("enter character:")

for i in range(n):
    for j in range(n):
        print(ch,end="")
        print()

enter size: 5
enter character: sri

sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri
sri

In [12]:
#MULTIPLICATION TABLE MATRIX
for i in range(1, 6):
    for j in range(1, 11):
        print(f"{i*j:3}", end=" ")
    print()

  1   2   3   4   5   6   7   8   9  10
  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50

In [13]:
#NUMBER SQUARE
for i in range(5):
    for j in range(1, 6):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [14]:
#INCREMNTAL SQUARE
num = 1
for i in range(5):
    for j in range(5):
        print(num, end=" ")
        num += 1
    print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [15]:
#RIGHT ANGLED STAR TRIANGLE
n = 5
for i in range(1, n+1):
    for j in range(i):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [16]:
#INVENTED STAR TRIANGLE
n = 5
for i in range(n, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [17]:
#CHECKERED GRID
for i in range(5):
    for j in range(5):
        print((i + j) % 2, end=" ")
    print()

0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

In [18]:
#PRIME NUMBERS
for num in range(2, 101):
    prime = True
    for i in range(2, int(num**0.5)+1):
        if num % i == 0:
            prime = False
            break
    if prime:
        print(num, end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [19]:
#RIGHT TRIANGLE
n = 5
for i in range(1, n+1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [20]:
#RIGHT TRIANGLE
n = 5
for i in range(1, n+1):
    for j in range(i):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [21]:
#INVERTED NUMBER TRIANGLE
n = 5
for i in range(n, 0, -1):
    for j in range(1, i+1):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [22]:
#FLOYDS TRIANGLE
n = 4
num = 1

for i in range(1, n+1):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [23]:
#BINARY TRIANGLE
n = 5
for i in range(1, n+1):
    for j in range(1, i+1):
        print((i + j) % 2, end=" ")
    print()

0
1 0
0 1 0
1 0 1 0
0 1 0 1 0

In [24]:
#ALPHABET TRIANGLE
n = 5
for i in range(1, n+1):
    for j in range(i):
        print(chr(65 + j), end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

In [25]:
#CONSTANT ALPHABET TRIANGLE
n = 5
for i in range(n):
    for j in range(i+1):
        print(chr(65 + i), end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

In [26]:
#RIGHT ANGLED STAR TRIANGLE
n = 5
for i in range(1, n+1):
    for space in range(n - i):
        print(" ", end=" ")
    for star in range(i):
        print("*", end=" ")
    print()

        *
      * *
    * * *
  * * * *
* * * * *

In [27]:
#MIRRORED NUMBER TRIANGLE
n = 5
for i in range(n, 0, -1):
    for j in range(i):
        print(i, end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
#CHARACTER STAIRCASE
ch = input("Enter character: ")
n = int(input("Enter height: "))

for i in range(1, n+1):
    for j in range(i):
        print(ch, end=" ")
    print()

Enter character:  SRII